@font-face {
    font-family: "Open Sans";
    src: url("OpenSans-VariableFont_wdth,wght.ttf");
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    box-sizing: inherit;
    font-family: "Open Sans", sans-serif;
}